<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="../public/undraw_Reading_re_29f8.png" alt="book icon">
    <h4>The witcher</h4>
    <p>The witcher Geralt, a mutated monster hunter, struggles to find his place in a world in which people often prove more wicked than beasts.</p>
  </li>
</ul>

<%- include('partials/footer'); -%>