<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/public/undraw_Reading_re_29f8.png" alt="read books">
  </div>
  <div class="headings">
    <h2>Smoothie Recipes</h2>
    <h3>By Reader To Readers</h3>
    <a href="/books" class="btn">View books</a>
  </div>
</header>


<%- include('partials/footer'); -%>